In [5]:
import pandas as pd

In [114]:
import numpy as np

# Methodology

I began by looking at 2012, 2017 national data from the Census bureau. I looked at breakdowns by Sex and Age. In doing my analysis, I noticed that the age ranges had changed, so I put that in my caveats graf. I also double checked by calculation of un-insurance rates with the Kaiser Family Foundation data base, arriving at the same results. Finally, I used KFF's database to look at Medicaid expansion in this timeframe.

# United States data

C27001 for 2012 from https://data.census.gov/cedsci/?#

In [56]:
df_2012_us = pd.read_csv('productDownload_2020-02-14T125800/productDownload_2020-02-14T205609/ACSDT1Y2012.C27001_data_with_overlays_2020-02-14T205606.csv',skiprows=1)

In [72]:
df_2012_us.dtypes

id                                                                                    object
Geographic Area Name                                                                  object
Estimate!!Total                                                                        int64
Margin of Error!!Total                                                                 int64
Estimate!!Total!!Male                                                                  int64
Margin of Error!!Total!!Male                                                           int64
Estimate!!Total!!Male!!Under 18 years                                                  int64
Margin of Error!!Total!!Male!!Under 18 years                                           int64
Estimate!!Total!!Male!!Under 18 years!!With health insurance coverage                  int64
Margin of Error!!Total!!Male!!Under 18 years!!With health insurance coverage           int64
Estimate!!Total!!Male!!Under 18 years!!No health insurance coverage                    int64
Margin of Error!!Total!!Male!!Under 18 years!!No health insurance coverage             int64
Estimate!!Total!!Male!!18 to 64 years                                                  int64
Margin of Error!!Total!!Male!!18 to 64 years                                           int64
Estimate!!Total!!Male!!18 to 64 years!!With health insurance coverage                  int64
Margin of Error!!Total!!Male!!18 to 64 years!!With health insurance coverage           int64
Estimate!!Total!!Male!!18 to 64 years!!No health insurance coverage                    int64
Margin of Error!!Total!!Male!!18 to 64 years!!No health insurance coverage             int64
Estimate!!Total!!Male!!65 years and over                                               int64
Margin of Error!!Total!!Male!!65 years and over                                        int64
Estimate!!Total!!Male!!65 years and over!!With health insurance coverage               int64
Margin of Error!!Total!!Male!!65 years and over!!With health insurance coverage        int64
Estimate!!Total!!Male!!65 years and over!!No health insurance coverage                 int64
Margin of Error!!Total!!Male!!65 years and over!!No health insurance coverage          int64
Estimate!!Total!!Female                                                                int64
Margin of Error!!Total!!Female                                                         int64
Estimate!!Total!!Female!!Under 18 years                                                int64
Margin of Error!!Total!!Female!!Under 18 years                                         int64
Estimate!!Total!!Female!!Under 18 years!!With health insurance coverage                int64
Margin of Error!!Total!!Female!!Under 18 years!!With health insurance coverage         int64
Estimate!!Total!!Female!!Under 18 years!!No health insurance coverage                  int64
Margin of Error!!Total!!Female!!Under 18 years!!No health insurance coverage           int64
Estimate!!Total!!Female!!18 to 64 years                                                int64
Margin of Error!!Total!!Female!!18 to 64 years                                         int64
Estimate!!Total!!Female!!18 to 64 years!!With health insurance coverage                int64
Margin of Error!!Total!!Female!!18 to 64 years!!With health insurance coverage         int64
Estimate!!Total!!Female!!18 to 64 years!!No health insurance coverage                  int64
Margin of Error!!Total!!Female!!18 to 64 years!!No health insurance coverage           int64
Estimate!!Total!!Female!!65 years and over                                             int64
Margin of Error!!Total!!Female!!65 years and over                                      int64
Estimate!!Total!!Female!!65 years and over!!With health insurance coverage             int64
Margin of Error!!Total!!Female!!65 years and over!!With health insurance coverage      int64
Estimate!!Total!!Female!!65 years and over!!No health insurance coverage               int64
Margin of Error!!Total!!Female!!65 years and over!!No health insurance coverage        int64
per_men_under18_with_he                                                              float64
per_women_under18_with_he                                                            float64
dtype: object

In [57]:
df_2012_us

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Male,Margin of Error!!Total!!Male,Estimate!!Total!!Male!!Under 18 years,Margin of Error!!Total!!Male!!Under 18 years,Estimate!!Total!!Male!!Under 18 years!!With health insurance coverage,Margin of Error!!Total!!Male!!Under 18 years!!With health insurance coverage,...,Estimate!!Total!!Female!!18 to 64 years!!With health insurance coverage,Margin of Error!!Total!!Female!!18 to 64 years!!With health insurance coverage,Estimate!!Total!!Female!!18 to 64 years!!No health insurance coverage,Margin of Error!!Total!!Female!!18 to 64 years!!No health insurance coverage,Estimate!!Total!!Female!!65 years and over,Margin of Error!!Total!!Female!!65 years and over,Estimate!!Total!!Female!!65 years and over!!With health insurance coverage,Margin of Error!!Total!!Female!!65 years and over!!With health insurance coverage,Estimate!!Total!!Female!!65 years and over!!No health insurance coverage,Margin of Error!!Total!!Female!!65 years and over!!No health insurance coverage
0,0100000US,United States,308896460,13901,150789440,29590,37595580,24460,34909323,34725,...,80251996,91806,18411837,84751,23461263,13504,23223304,15997,237959,9188

C27001 for 2017 from https://data.census.gov/cedsci/?#

In [55]:
df_2017_us = pd.read_csv('productDownload_2020-02-14T125800/productDownload_2020-02-14T205609/ACSDT1Y2017.C27001_data_with_overlays_2020-02-14T205606.csv',skiprows=1)

In [73]:
df_2017_us.dtypes

id                                                                                    object
Geographic Area Name                                                                  object
Estimate!!Total                                                                        int64
Margin of Error!!Total                                                                 int64
Estimate!!Total!!Male                                                                  int64
Margin of Error!!Total!!Male                                                           int64
Estimate!!Total!!Male!!Under 19 years                                                  int64
Margin of Error!!Total!!Male!!Under 19 years                                           int64
Estimate!!Total!!Male!!Under 19 years!!With health insurance coverage                  int64
Margin of Error!!Total!!Male!!Under 19 years!!With health insurance coverage           int64
Estimate!!Total!!Male!!Under 19 years!!No health insurance coverage                    int64
Margin of Error!!Total!!Male!!Under 19 years!!No health insurance coverage             int64
Estimate!!Total!!Male!!19 to 64 years                                                  int64
Margin of Error!!Total!!Male!!19 to 64 years                                           int64
Estimate!!Total!!Male!!19 to 64 years!!With health insurance coverage                  int64
Margin of Error!!Total!!Male!!19 to 64 years!!With health insurance coverage           int64
Estimate!!Total!!Male!!19 to 64 years!!No health insurance coverage                    int64
Margin of Error!!Total!!Male!!19 to 64 years!!No health insurance coverage             int64
Estimate!!Total!!Male!!65 years and over                                               int64
Margin of Error!!Total!!Male!!65 years and over                                        int64
Estimate!!Total!!Male!!65 years and over!!With health insurance coverage               int64
Margin of Error!!Total!!Male!!65 years and over!!With health insurance coverage        int64
Estimate!!Total!!Male!!65 years and over!!No health insurance coverage                 int64
Margin of Error!!Total!!Male!!65 years and over!!No health insurance coverage          int64
Estimate!!Total!!Female                                                                int64
Margin of Error!!Total!!Female                                                         int64
Estimate!!Total!!Female!!Under 19 years                                                int64
Margin of Error!!Total!!Female!!Under 19 years                                         int64
Estimate!!Total!!Female!!Under 19 years!!With health insurance coverage                int64
Margin of Error!!Total!!Female!!Under 19 years!!With health insurance coverage         int64
Estimate!!Total!!Female!!Under 19 years!!No health insurance coverage                  int64
Margin of Error!!Total!!Female!!Under 19 years!!No health insurance coverage           int64
Estimate!!Total!!Female!!19 to 64 years                                                int64
Margin of Error!!Total!!Female!!19 to 64 years                                         int64
Estimate!!Total!!Female!!19 to 64 years!!With health insurance coverage                int64
Margin of Error!!Total!!Female!!19 to 64 years!!With health insurance coverage         int64
Estimate!!Total!!Female!!19 to 64 years!!No health insurance coverage                  int64
Margin of Error!!Total!!Female!!19 to 64 years!!No health insurance coverage           int64
Estimate!!Total!!Female!!65 years and over                                             int64
Margin of Error!!Total!!Female!!65 years and over                                      int64
Estimate!!Total!!Female!!65 years and over!!With health insurance coverage             int64
Margin of Error!!Total!!Female!!65 years and over!!With health insurance coverage      int64
Estimate!!Total!!Female!!65 years and over!!No health insurance coverage               int64
Margin of Error!!Total!!Female!!65 years and over!!No health insurance coverage        int64
per_men_under19_with_he                                                              float64
per_women_under19_with_he                                                            float64
dtype: object

In [58]:
df_2017_us

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Male,Margin of Error!!Total!!Male,Estimate!!Total!!Male!!Under 19 years,Margin of Error!!Total!!Male!!Under 19 years,Estimate!!Total!!Male!!Under 19 years!!With health insurance coverage,Margin of Error!!Total!!Male!!Under 19 years!!With health insurance coverage,...,Estimate!!Total!!Female!!19 to 64 years!!With health insurance coverage,Margin of Error!!Total!!Female!!19 to 64 years!!With health insurance coverage,Estimate!!Total!!Female!!19 to 64 years!!No health insurance coverage,Margin of Error!!Total!!Female!!19 to 64 years!!No health insurance coverage,Estimate!!Total!!Female!!65 years and over,Margin of Error!!Total!!Female!!65 years and over,Estimate!!Total!!Female!!65 years and over!!With health insurance coverage,Margin of Error!!Total!!Female!!65 years and over!!With health insurance coverage,Estimate!!Total!!Female!!65 years and over!!No health insurance coverage,Margin of Error!!Total!!Female!!65 years and over!!No health insurance coverage
0,0100000US,United States,320775014,15011,156822503,31388,39878054,39328,37854390,43302,...,87717487,89877,10589199,82214,27448555,17454,27229035,20423,219520,9122

# Calculating total coverage

In [89]:
(df_2012_us['Estimate!!Total!!Male!!Under 18 years!!With health insurance coverage']+df_2012_us['Estimate!!Total!!Female!!Under 18 years!!With health insurance coverage']+df_2012_us['Estimate!!Total!!Male!!18 to 64 years!!With health insurance coverage']+ df_2012_us['Estimate!!Total!!Female!!18 to 64 years!!With health insurance coverage']+df_2012_us['Estimate!!Total!!Male!!65 years and over']+ df_2012_us['Estimate!!Total!!Female!!65 years and over'])/df_2012_us['Estimate!!Total']

0    0.853633
dtype: float64

In [ ]:
#15 percent uninsured in 2012

In [90]:
(df_2017_us['Estimate!!Total!!Male!!Under 19 years!!With health insurance coverage']+df_2017_us['Estimate!!Total!!Female!!Under 19 years!!With health insurance coverage']+df_2017_us['Estimate!!Total!!Male!!19 to 64 years!!With health insurance coverage']+ df_2017_us['Estimate!!Total!!Female!!19 to 64 years!!With health insurance coverage']+df_2017_us['Estimate!!Total!!Male!!65 years and over']+ df_2017_us['Estimate!!Total!!Female!!65 years and over'])/df_2017_us['Estimate!!Total']

0    0.913854
dtype: float64

In [ ]:
#9 percent uninsured in 2017

# Calculating health insurance coverage by age, sex subgroups

Under 18 men

In [ ]:
### 2012 (note under 18)

In [69]:
df_2012_us['per_men_under18_with_he']=df_2012_us['Estimate!!Total!!Male!!Under 18 years!!With health insurance coverage']/df_2012_us['Estimate!!Total!!Male!!Under 18 years']
df_2012_us['per_men_under18_with_he']

0    0.928549
Name: per_men_under18_with_he, dtype: float64

In [ ]:
### 2017 (note under 19)

In [68]:
df_2017_us['per_men_under19_with_he']=df_2017_us['Estimate!!Total!!Male!!Under 19 years!!With health insurance coverage']/df_2017_us['Estimate!!Total!!Male!!Under 19 years']
df_2017_us['per_men_under19_with_he']

0    0.949254
Name: per_men_under19_with_he, dtype: float64

Under 18 women

In [ ]:
### 2012 (note under 18)

In [70]:
df_2012_us['per_women_under18_with_he']=df_2012_us['Estimate!!Total!!Female!!Under 18 years!!With health insurance coverage']/df_2012_us['Estimate!!Total!!Female!!Under 18 years']
df_2012_us['per_women_under18_with_he']

0    0.928365
Name: per_women_under18_with_he, dtype: float64

In [ ]:
### 2017 (note under 19)

In [71]:
df_2017_us['per_women_under19_with_he']=df_2017_us['Estimate!!Total!!Female!!Under 19 years!!With health insurance coverage']/df_2017_us['Estimate!!Total!!Female!!Under 19 years']
df_2017_us['per_women_under19_with_he']

0    0.950228
Name: per_women_under19_with_he, dtype: float64

19-64 men

In [ ]:
### 2012

In [74]:
df_2012_us['per_men_18t64_with_he']=df_2012_us['Estimate!!Total!!Male!!18 to 64 years!!With health insurance coverage']/df_2012_us['Estimate!!Total!!Male!!18 to 64 years']
df_2012_us['per_men_18t64_with_he']

0    0.772857
Name: per_men_18t64_with_he, dtype: float64

In [ ]:
### 2017

In [91]:
df_2017_us['per_men_19t64_with_he']=df_2017_us['Estimate!!Total!!Male!!19 to 64 years!!With health insurance coverage']/df_2017_us['Estimate!!Total!!Male!!19 to 64 years']
df_2017_us['per_men_19t64_with_he']

0    0.861744
Name: per_men_19t64_with_he, dtype: float64

19-64 women

In [ ]:
### 2012

In [93]:
df_2012_us['per_women_18t64_with_he']=df_2012_us['Estimate!!Total!!Female!!18 to 64 years!!With health insurance coverage']/df_2012_us['Estimate!!Total!!Female!!18 to 64 years']
df_2012_us['per_women_18t64_with_he']

0    0.813388
Name: per_women_18t64_with_he, dtype: float64

In [ ]:
### 2017

In [94]:
df_2017_us['per_women_19t64_with_he']=df_2017_us['Estimate!!Total!!Female!!19 to 64 years!!With health insurance coverage']/df_2017_us['Estimate!!Total!!Female!!19 to 64 years']
df_2017_us['per_women_19t64_with_he']

0    0.892284
Name: per_women_19t64_with_he, dtype: float64

65+ men

In [ ]:
### 2012

In [77]:
df_2012_us['per_men_65_with_he']=df_2012_us['Estimate!!Total!!Male!!65 years and over!!With health insurance coverage']/df_2012_us['Estimate!!Total!!Male!!65 years and over']
df_2012_us['per_men_65_with_he']

0    0.991057
Name: per_men_65_with_he, dtype: float64

In [ ]:
### 2017

In [78]:
df_2017_us['per_men_65_with_he']=df_2017_us['Estimate!!Total!!Male!!65 years and over!!With health insurance coverage']/df_2017_us['Estimate!!Total!!Male!!65 years and over']
df_2017_us['per_men_65_with_he']

0    0.99246
Name: per_men_65_with_he, dtype: float64

65+ women

In [ ]:
### 2012

In [75]:
df_2012_us['per_women_65_with_he']=df_2012_us['Estimate!!Total!!Female!!65 years and over!!With health insurance coverage']/df_2012_us['Estimate!!Total!!Female!!65 years and over']
df_2012_us['per_women_65_with_he']

0    0.989857
Name: per_women_65_with_he, dtype: float64

In [ ]:
### 2017

In [76]:
df_2017_us['per_women_65_with_he']=df_2017_us['Estimate!!Total!!Female!!65 years and over!!With health insurance coverage']/df_2017_us['Estimate!!Total!!Female!!65 years and over']
df_2017_us['per_women_65_with_he']

0    0.992002
Name: per_women_65_with_he, dtype: float64

In [ ]:
#countrywide increase among 65+ is marginal, more of an increase among women than men

# State to State - From Census Data

Data from https://data.census.gov/cedsci/?#

In [ ]:
#2012

In [158]:
df_census_2012_states = pd.read_csv('productDownload_2020-02-14T125800/ACSDT1Y2012.C27001_data_with_overlays_2020-02-14T125750.csv',skiprows=1)

In [160]:
df_census_2012_states.dtypes

id                                                                                   object
Geographic Area Name                                                                 object
Estimate!!Total                                                                       int64
Margin of Error!!Total                                                                int64
Estimate!!Total!!Male                                                                 int64
Margin of Error!!Total!!Male                                                          int64
Estimate!!Total!!Male!!Under 18 years                                                 int64
Margin of Error!!Total!!Male!!Under 18 years                                          int64
Estimate!!Total!!Male!!Under 18 years!!With health insurance coverage                 int64
Margin of Error!!Total!!Male!!Under 18 years!!With health insurance coverage          int64
Estimate!!Total!!Male!!Under 18 years!!No health insurance coverage                   int64
Margin of Error!!Total!!Male!!Under 18 years!!No health insurance coverage            int64
Estimate!!Total!!Male!!18 to 64 years                                                 int64
Margin of Error!!Total!!Male!!18 to 64 years                                          int64
Estimate!!Total!!Male!!18 to 64 years!!With health insurance coverage                 int64
Margin of Error!!Total!!Male!!18 to 64 years!!With health insurance coverage          int64
Estimate!!Total!!Male!!18 to 64 years!!No health insurance coverage                   int64
Margin of Error!!Total!!Male!!18 to 64 years!!No health insurance coverage            int64
Estimate!!Total!!Male!!65 years and over                                              int64
Margin of Error!!Total!!Male!!65 years and over                                       int64
Estimate!!Total!!Male!!65 years and over!!With health insurance coverage              int64
Margin of Error!!Total!!Male!!65 years and over!!With health insurance coverage       int64
Estimate!!Total!!Male!!65 years and over!!No health insurance coverage                int64
Margin of Error!!Total!!Male!!65 years and over!!No health insurance coverage         int64
Estimate!!Total!!Female                                                               int64
Margin of Error!!Total!!Female                                                        int64
Estimate!!Total!!Female!!Under 18 years                                               int64
Margin of Error!!Total!!Female!!Under 18 years                                        int64
Estimate!!Total!!Female!!Under 18 years!!With health insurance coverage               int64
Margin of Error!!Total!!Female!!Under 18 years!!With health insurance coverage        int64
Estimate!!Total!!Female!!Under 18 years!!No health insurance coverage                 int64
Margin of Error!!Total!!Female!!Under 18 years!!No health insurance coverage          int64
Estimate!!Total!!Female!!18 to 64 years                                               int64
Margin of Error!!Total!!Female!!18 to 64 years                                        int64
Estimate!!Total!!Female!!18 to 64 years!!With health insurance coverage               int64
Margin of Error!!Total!!Female!!18 to 64 years!!With health insurance coverage        int64
Estimate!!Total!!Female!!18 to 64 years!!No health insurance coverage                 int64
Margin of Error!!Total!!Female!!18 to 64 years!!No health insurance coverage          int64
Estimate!!Total!!Female!!65 years and over                                            int64
Margin of Error!!Total!!Female!!65 years and over                                     int64
Estimate!!Total!!Female!!65 years and over!!With health insurance coverage            int64
Margin of Error!!Total!!Female!!65 years and over!!With health insurance coverage     int64
Estimate!!Total!!Female!!65 years and over!!No health insurance coverage              int64
Margin of Error!!Total!!Female!!65 years and over!!No health insurance coverage       int64
dtype: object

In [171]:




df_census_2012_states['Percentage insured']=(df_census_2012_states['Estimate!!Total!!Male!!Under 18 years!!With health insurance coverage']+df_census_2012_states['Estimate!!Total!!Male!!18 to 64 years!!With health insurance coverage']+df_census_2012_states['Estimate!!Total!!Male!!65 years and over!!With health insurance coverage']+df_census_2012_states['Estimate!!Total!!Female!!Under 18 years!!With health insurance coverage']+df_census_2012_states['Estimate!!Total!!Female!!18 to 64 years!!With health insurance coverage']+df_census_2012_states['Estimate!!Total!!Female!!65 years and over!!With health insurance coverage'])/df_census_2012_states['Estimate!!Total']

In [178]:
df_census_2012_states['Percentage uninsured'] = 1 - df_census_2012_states['Percentage insured']

In [187]:
df_census_2012_states.sort_values(by='Percentage uninsured',ascending=False).head()

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Male,Margin of Error!!Total!!Male,Estimate!!Total!!Male!!Under 18 years,Margin of Error!!Total!!Male!!Under 18 years,Estimate!!Total!!Male!!Under 18 years!!With health insurance coverage,Margin of Error!!Total!!Male!!Under 18 years!!With health insurance coverage,...,Estimate!!Total!!Female!!18 to 64 years!!No health insurance coverage,Margin of Error!!Total!!Female!!18 to 64 years!!No health insurance coverage,Estimate!!Total!!Female!!65 years and over,Margin of Error!!Total!!Female!!65 years and over,Estimate!!Total!!Female!!65 years and over!!With health insurance coverage,Margin of Error!!Total!!Female!!65 years and over!!With health insurance coverage,Estimate!!Total!!Female!!65 years and over!!No health insurance coverage,Margin of Error!!Total!!Female!!65 years and over!!No health insurance coverage,Percentage uninsured,Percentage insured
39,0400000US48,Texas,25584499,3960,12573459,9930,3560266,6123,3118168,14306,...,2361333,24334,1532165,3752,1497442,4574,34723,3502,0.225228,0.774772
24,0400000US32,Nevada,2723965,1559,1363626,2499,341274,1521,282153,4558,...,227274,7358,186978,1156,182190,1613,4788,1225,0.221525,0.778475
49,0400000US02,Alaska,708946,1546,362461,2242,96763,1476,82767,2674,...,52343,3308,31325,890,31039,924,286,233,0.204935,0.795065
5,0400000US12,Florida,19011070,3625,9208249,7257,2032111,5212,1812515,9347,...,1561358,20285,1898416,3412,1870196,4423,28220,3363,0.200717,0.799283
6,0400000US13,Georgia,9719411,3607,4691533,8342,1273249,6100,1164382,9561,...,755108,13752,630985,2925,623537,2980,7448,2014,0.184406,0.815594

In [ ]:
# 2017

In [165]:
df_census_2017_states = pd.read_csv('productDownload_2020-02-14T125800/ACSDT1Y2017.C27001_data_with_overlays_2020-02-14T125750.csv',skiprows=1)

In [166]:
df_census_2017_states.dtypes

id                                                                                   object
Geographic Area Name                                                                 object
Estimate!!Total                                                                       int64
Margin of Error!!Total                                                                int64
Estimate!!Total!!Male                                                                 int64
Margin of Error!!Total!!Male                                                          int64
Estimate!!Total!!Male!!Under 19 years                                                 int64
Margin of Error!!Total!!Male!!Under 19 years                                          int64
Estimate!!Total!!Male!!Under 19 years!!With health insurance coverage                 int64
Margin of Error!!Total!!Male!!Under 19 years!!With health insurance coverage          int64
Estimate!!Total!!Male!!Under 19 years!!No health insurance coverage                   int64
Margin of Error!!Total!!Male!!Under 19 years!!No health insurance coverage            int64
Estimate!!Total!!Male!!19 to 64 years                                                 int64
Margin of Error!!Total!!Male!!19 to 64 years                                          int64
Estimate!!Total!!Male!!19 to 64 years!!With health insurance coverage                 int64
Margin of Error!!Total!!Male!!19 to 64 years!!With health insurance coverage          int64
Estimate!!Total!!Male!!19 to 64 years!!No health insurance coverage                   int64
Margin of Error!!Total!!Male!!19 to 64 years!!No health insurance coverage            int64
Estimate!!Total!!Male!!65 years and over                                              int64
Margin of Error!!Total!!Male!!65 years and over                                       int64
Estimate!!Total!!Male!!65 years and over!!With health insurance coverage              int64
Margin of Error!!Total!!Male!!65 years and over!!With health insurance coverage       int64
Estimate!!Total!!Male!!65 years and over!!No health insurance coverage                int64
Margin of Error!!Total!!Male!!65 years and over!!No health insurance coverage         int64
Estimate!!Total!!Female                                                               int64
Margin of Error!!Total!!Female                                                        int64
Estimate!!Total!!Female!!Under 19 years                                               int64
Margin of Error!!Total!!Female!!Under 19 years                                        int64
Estimate!!Total!!Female!!Under 19 years!!With health insurance coverage               int64
Margin of Error!!Total!!Female!!Under 19 years!!With health insurance coverage        int64
Estimate!!Total!!Female!!Under 19 years!!No health insurance coverage                 int64
Margin of Error!!Total!!Female!!Under 19 years!!No health insurance coverage          int64
Estimate!!Total!!Female!!19 to 64 years                                               int64
Margin of Error!!Total!!Female!!19 to 64 years                                        int64
Estimate!!Total!!Female!!19 to 64 years!!With health insurance coverage               int64
Margin of Error!!Total!!Female!!19 to 64 years!!With health insurance coverage        int64
Estimate!!Total!!Female!!19 to 64 years!!No health insurance coverage                 int64
Margin of Error!!Total!!Female!!19 to 64 years!!No health insurance coverage          int64
Estimate!!Total!!Female!!65 years and over                                            int64
Margin of Error!!Total!!Female!!65 years and over                                     int64
Estimate!!Total!!Female!!65 years and over!!With health insurance coverage            int64
Margin of Error!!Total!!Female!!65 years and over!!With health insurance coverage     int64
Estimate!!Total!!Female!!65 years and over!!No health insurance coverage              int64
Margin of Error!!Total!!Female!!65 years and over!!No health insurance coverage       int64
dtype: object

In [167]:
df_census_2017_states

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Male,Margin of Error!!Total!!Male,Estimate!!Total!!Male!!Under 19 years,Margin of Error!!Total!!Male!!Under 19 years,Estimate!!Total!!Male!!Under 19 years!!With health insurance coverage,Margin of Error!!Total!!Male!!Under 19 years!!With health insurance coverage,...,Estimate!!Total!!Female!!19 to 64 years!!With health insurance coverage,Margin of Error!!Total!!Female!!19 to 64 years!!With health insurance coverage,Estimate!!Total!!Female!!19 to 64 years!!No health insurance coverage,Margin of Error!!Total!!Female!!19 to 64 years!!No health insurance coverage,Estimate!!Total!!Female!!65 years and over,Margin of Error!!Total!!Female!!65 years and over,Estimate!!Total!!Female!!65 years and over!!With health insurance coverage,Margin of Error!!Total!!Female!!65 years and over!!With health insurance coverage,Estimate!!Total!!Female!!65 years and over!!No health insurance coverage,Margin of Error!!Total!!Female!!65 years and over!!No health insurance coverage
0,0400000US01,Alabama,4793512,2005,2300832,5674,596872,6090,577669,7016,...,1289334,10487,188919,8262,441810,2129,440745,2189,1065,499
1,0400000US02,Alaska,716178,2175,366114,3066,99960,2241,91796,2279,...,183832,2936,31259,2707,40550,840,39966,893,584,357
2,0400000US04,Arizona,6908121,2138,3397227,4325,880537,4315,813334,6367,...,1776205,8446,244592,8666,641194,1474,636079,1768,5115,1194
3,0400000US05,Arkansas,2949305,1321,1442421,4762,387964,4417,368981,5443,...,793525,6118,84902,4867,264627,2089,264003,2052,624,364
4,0400000US06,California,39046835,5485,19267819,7163,4880853,9401,4724492,10942,...,11061070,18817,1025583,17308,3005743,4174,2974271,5344,31472,3342
5,0400000US08,Colorado,5514070,3163,2748288,4762,684900,3979,653652,5017,...,1555348,5927,150238,6063,410861,1605,408054,1740,2807,1207
6,0400000US09,Connecticut,3536522,1187,1716979,2961,406892,2742,393928,3836,...,1040876,6517,66068,5341,326610,1546,324373,1899,2237,1021
7,0400000US10,Delaware,947259,967,454461,1627,111791,1667,107183,2104,...,275039,2903,17572,2545,93505,702,92361,879,1144,619
8,0400000US11,District of Columbia,683808,611,320935,868,66097,923,65038,1226,...,238490,1881,8000,1653,48845,453,48459,574,386,355
9,0400000US12,Florida,20678704,3256,10026151,6882,2266960,7051,2097101,11545,...,5139051,20143,1055879,19352,2274140,3678,2245035,5013,29105,3426
10,0400000US13,Georgia,10241594,3158,4921118,8847,1355168,7631,1254788,9701,...,2677611,15491,551367,14805,775789,3089,769392,3503,6397,1658
11,0400000US15,Hawaii,1373202,2427,671429,2782,165276,1492,162570,1562,...,389330,3188,20349,2740,136421,856,135719,974,702,395
12,0400000US16,Idaho,1695273,1260,846431,2702,243008,2581,231786,3683,...,412581,6106,71361,5310,136169,1474,135796,1407,373,300
13,0400000US17,Illinois,12620126,1888,6173024,4831,1567510,5020,1519973,6096,...,3559425,12881,329382,11476,1056387,2578,1046303,3052,10084,1728
14,0400000US18,Indiana,6568434,898,3223272,5239,861532,5408,809467,7240,...,1792045,9058,194685,7683,549547,2637,547002,2841,2545,890
15,0400000US19,Iowa,3102179,690,1537348,3690,397302,3739,384870,4098,...,858924,4701,51959,3748,275321,1553,274493,1541,828,417
16,0400000US20,Kansas,2855454,1638,1411724,4183,387016,3366,367723,3909,...,743834,5352,96981,5083,234490,1893,233726,1930,764,435
17,0400000US21,Kentucky,4370940,1538,2138621,4275,553423,5367,532397,6263,...,1248139,5967,79462,4895,379299,1758,378319,1822,980,433
18,0400000US22,Louisiana,4580258,1767,2209005,5998,602179,5723,584320,6206,...,1275258,8513,144474,7248,378500,2099,376723,2217,1777,733
19,0400000US23,Maine,1321649,577,646260,1882,138917,1895,131432,2087,...,361209,3256,40758,2846,140593,896,140352,936,241,199
20,0400000US24,Maryland,5957871,2105,2866331,4274,726028,4081,699975,4979,...,1772608,7290,128322,6505,497098,1761,492457,2185,4641,1405
21,0400000US25,Massachusetts,6785622,1021,3288881,3288,754598,3433,743322,3834,...,2104205,5609,63771,4511,604402,1885,602332,2014,2070,573
22,0400000US26,Michigan,9853156,970,4830752,4066,1181839,4813,1146709,5291,...,2819562,7789,176020,7109,895969,2200,892703,2315,3266,987
23,0400000US27,Minnesota,5519199,675,2746565,3827,701722,3668,675825,4409,...,1571606,5227,78405,4143,451357,1784,450002,1950,1355,670
24,0400000US28,Mississippi,2920808,1463,1398217,5846,394251,5342,373872,5862,...,747039,7729,150404,7852,255943,1882,254989,1948,954,429
25,0400000US29,Missouri,6000326,1538,2926378,5137,749871,5560,711194,6095,...,1598373,9250,218868,8767,541853,2520,539155,2480,2698,669
26,0400000US30,Montana,1036245,559,516864,2153,121028,1599,113468,2213,...,272286,3048,31836,2533,95523,1008,95063,975,460,345
27,0400000US31,Nebraska,1891453,931,942886,2799,256943,2490,244261,3028,...,495444,4110,57067,3281,152995,1240,152029,1282,966,503
28,0400000US32,Nevada,2962236,1424,1477770,2694,367968,2613,339072,4700,...,777354,5662,117218,5727,239026,989,235699,1498,3327,1123
29,0400000US33,New Hampshire,1325016,952,654960,2444,142254,2144,138925,2254,...,384037,3583,29848,3107,122448,1156,121488,1236,960,630
30,0400000US34,New Jersey,8902432,1561,4327369,3265,1067648,4109,1029487,5697,...,2499265,9943,266773,9520,783004,1696,774410,2389,8594,1884
31,0400000US35,New Mexico,2054301,1433,1007766,4136,264083,3700,251316,4291,...,533697,5515,66400,5150,187701,1194,185453,1455,2248,745
32,0400000US36,New York,19608066,2106,9476188,5651,2247049,6073,2185546,9222,...,5831520,13487,396575,11771,1747688,3275,1735284,3897,12404,1837
33,0400000US37,North Carolina,10070781,3392,4844279,7906,1251870,7967,1187654,9325,...,2702593,11096,435089,10377,889779,4012,885496,3783,4283,1179
34,0400000US38,North Dakota,738177,1431,377790,2426,95163,1748,87216,2181,...,196516,2543,17896,2327,57545,858,57545,858,0,161
35,0400000US39,Ohio,11485078,1447,5600497,6227,1409401,6328,1346812,8863,...,3256267,11811,233091,10533,1045328,3505,1040445,3495,4883,1082
36,0400000US40,Oklahoma,3851302,1847,1890297,4538,523982,3305,482961,4329,...,927724,5994,215339,6095,323171,1962,320775,1896,2396,792
37,0400000US41,Oregon,4102901,1020,2024505,4244,476625,4586,458548,4789,...,1146198,6186,103914,6134,376794,2231,375502,2216,1292,498
38,0400000US42,Pennsylvania,12602472,1128,6139951,4643,1449891,4668,1385695,6440,...,3616253,9417,230191,8875,1231052,3132,1225139,3224,5913,1258
39,0400000US44,Rhode Island,1044111,858,504557,1863,113621,1519,111378,1744,...,316188,3032,17016,2250,95963,924,95658,1033,305,323
40,0400000US45,South Carolina,4928260,2320,2364975,6595,593053,6906,562386,7249,...,1302938,10202,214800,8111,469237,1964,467721,2001,1516,600
41,0400000US46,South Dakota,851826,955,427382,2875,115270,2445,107974,2928,...,213252,2905,29413,2697,72635,1060,72266,1056,369,255
42,0400000US47,Tennessee,6612552,2386,3199559,5840,812333,5810,771089,7344,...,1805859,10032,239899,8626,579146,2424,577326,2381,1820,564
43,0400000US48,Texas,27836924,4153,13704361,9643,3973937,9960,3548812,18059,...,6574442,22302,1888489,20046,1861724,3805,1822879,5418,38845,4350
44,0400000US49,Utah,3076318,925,1545177,3135,501537,2818,463327,4709,...,790496,5399,93694,4866,175887,1399,174087,1545,1800,594
45,0400000US50,Vermont,617556,273,304204,1259,65580,1376,64312,1327,...,178714,1932,11601,1749,61512,631,61376,625,136,123
46,0400000US51,Virginia,8256810,4827,3997118,7290,1008284,6063,954800,6039,...,2307925,10859,288246,10136,688799,2842,682129,3152,6670,1671
47,0400000US53,Washington,7299812,2782,3619124,4673,886817,4129,863682,4689,...,2066467,9470,164802,7977,596404,2169,592332,2337,4072,1320
48,0400000US54,West Virginia,1787126,719,877573,3347,203639,3383,197923,3322,...,485336,3813,41097,3812,187407,1463,187196,1472,211,194
49,0400000US55,Wisconsin,5723963,784,2832224,4246,692553,3838,666802,4464,...,1612159,5489,105200,4969,505425,2040,503694,2152,1731,612
50,0400000US56,Wyoming,568891,1060,288544,2571,75059,2327,67547,2718,...,140038,2804,24125,2508,45339,705,45234,670,105,136
51,0400000US72,Puerto Rico,3309977,1047,1569208,5008,370412,5848,356165,6094,...,953949,6677,81369,6052,370527,698,367242,1242,3285,960

In [174]:
df_census_2017_states['Percentage insured']=(df_census_2017_states['Estimate!!Total!!Male!!Under 19 years!!With health insurance coverage']+df_census_2017_states['Estimate!!Total!!Male!!19 to 64 years!!With health insurance coverage']+df_census_2017_states['Estimate!!Total!!Male!!65 years and over!!With health insurance coverage']+df_census_2017_states['Estimate!!Total!!Female!!Under 19 years!!With health insurance coverage']+df_census_2017_states['Estimate!!Total!!Female!!19 to 64 years!!With health insurance coverage']+df_census_2017_states['Estimate!!Total!!Female!!65 years and over!!With health insurance coverage'])/df_census_2017_states['Estimate!!Total']

In [175]:
df_census_2017_states['Percentage uninsured'] = 1 - df_census_2017_states['Percentage insured']

In [186]:
df_census_2017_states.sort_values(by='Percentage uninsured',ascending=False).head()

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Male,Margin of Error!!Total!!Male,Estimate!!Total!!Male!!Under 19 years,Margin of Error!!Total!!Male!!Under 19 years,Estimate!!Total!!Male!!Under 19 years!!With health insurance coverage,Margin of Error!!Total!!Male!!Under 19 years!!With health insurance coverage,...,Estimate!!Total!!Female!!19 to 64 years!!No health insurance coverage,Margin of Error!!Total!!Female!!19 to 64 years!!No health insurance coverage,Estimate!!Total!!Female!!65 years and over,Margin of Error!!Total!!Female!!65 years and over,Estimate!!Total!!Female!!65 years and over!!With health insurance coverage,Margin of Error!!Total!!Female!!65 years and over!!With health insurance coverage,Estimate!!Total!!Female!!65 years and over!!No health insurance coverage,Margin of Error!!Total!!Female!!65 years and over!!No health insurance coverage,Percentage uninsured,Percentage insured
43,0400000US48,Texas,27836924,4153,13704361,9643,3973937,9960,3548812,18059,...,1888489,20046,1861724,3805,1822879,5418,38845,4350,0.173042,0.826958
36,0400000US40,Oklahoma,3851302,1847,1890297,4538,523982,3305,482961,4329,...,215339,6095,323171,1962,320775,1896,2396,792,0.141636,0.858364
1,0400000US02,Alaska,716178,2175,366114,3066,99960,2241,91796,2279,...,31259,2707,40550,840,39966,893,584,357,0.136553,0.863447
10,0400000US13,Georgia,10241594,3158,4921118,8847,1355168,7631,1254788,9701,...,551367,14805,775789,3089,769392,3503,6397,1658,0.134274,0.865726
9,0400000US12,Florida,20678704,3256,10026151,6882,2266960,7051,2097101,11545,...,1055879,19352,2274140,3678,2245035,5013,29105,3426,0.129416,0.870584

# State to state and countrywide coverage - Factcheck with KFF data

I am confirming my analysis with data from the Kaiser Family Foundation. To start with, I'm calculating uninsured rates in 2012 and 2017, so I want to make sure that we're arriving at the same numbers.

Data source: https://www.kff.org/other/state-indicator/total-population/?currentTimeframe=1&selectedDistributions=uninsured&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D

In [49]:
## 2012

In [6]:
df_2012_states = pd.read_csv('productDownload_2020-02-14T125800/raw_data (1).csv', skiprows=2)

20 states with highest uninsured rates in 2012

In [7]:
df_2012_states.sort_values(by='Uninsured', ascending=False).head(20)

          Location  Uninsured  Footnotes
44           Texas       0.22        NaN
29          Nevada       0.22        NaN
2           Alaska       0.20        NaN
10         Florida       0.20        NaN
32      New Mexico       0.19        NaN
11         Georgia       0.19        NaN
37        Oklahoma       0.18        NaN
27         Montana       0.18        NaN
5       California       0.18        NaN
34  North Carolina       0.17        NaN
25     Mississippi       0.17        NaN
3          Arizona       0.17        NaN
19       Louisiana       0.17        NaN
41  South Carolina       0.17        NaN
51         Wyoming       0.16        NaN
4         Arkansas       0.16        NaN
13           Idaho       0.16        NaN
0    United States       0.15        1.0
38          Oregon       0.15        NaN
6         Colorado       0.15        NaN

20 states with lowest uninsured rates in 2012

In [8]:
df_2012_states.sort_values(by='Uninsured', ascending=True).head(20)

                Location  Uninsured  Footnotes
22         Massachusetts       0.04        NaN
9   District of Columbia       0.06        NaN
52           Puerto Rico       0.07        NaN
46               Vermont       0.07        NaN
12                Hawaii       0.07        NaN
24             Minnesota       0.08        NaN
8               Delaware       0.08        NaN
16                  Iowa       0.08        NaN
50             Wisconsin       0.09        NaN
7            Connecticut       0.09        NaN
21              Maryland       0.10        NaN
20                 Maine       0.10        NaN
39          Pennsylvania       0.10        NaN
33              New York       0.11        NaN
35          North Dakota       0.11        NaN
30         New Hampshire       0.11        NaN
28              Nebraska       0.11        NaN
42          South Dakota       0.11        NaN
40          Rhode Island       0.11        NaN
36                  Ohio       0.12        NaN

In [50]:
##2017

In [10]:
df_2017_states = pd.read_csv('productDownload_2020-02-14T125800/raw_data.csv', skiprows=2)

20 states with highest uninsured rates in 2017

In [12]:
df_2017_states.sort_values(by='Uninsured', ascending=False).head(20)

          Location  Uninsured  Footnotes
44           Texas       0.17        NaN
2           Alaska       0.14        NaN
37        Oklahoma       0.14        NaN
10         Florida       0.13        NaN
11         Georgia       0.13        NaN
51         Wyoming       0.12        NaN
25     Mississippi       0.12        NaN
29          Nevada       0.11        NaN
34  North Carolina       0.11        NaN
13           Idaho       0.11        NaN
41  South Carolina       0.11        NaN
1          Alabama       0.10        NaN
3          Arizona       0.10        NaN
42    South Dakota       0.09        NaN
43       Tennessee       0.09        NaN
45            Utah       0.09        NaN
47        Virginia       0.09        NaN
32      New Mexico       0.09        NaN
28        Nebraska       0.09        NaN
27         Montana       0.09        NaN

In [52]:
## Countrywide uninsurance rates check out with my calculation.

20 states with lowest uninsured rates in 2017

In [13]:
df_2017_states.sort_values(by='Uninsured', ascending=True).head(20)

                Location  Uninsured  Footnotes
22         Massachusetts       0.03        NaN
16                  Iowa       0.04        NaN
40          Rhode Island       0.04        NaN
24             Minnesota       0.04        NaN
9   District of Columbia       0.04        NaN
46               Vermont       0.04        NaN
12                Hawaii       0.04        NaN
50             Wisconsin       0.05        NaN
23              Michigan       0.05        NaN
18              Kentucky       0.05        NaN
30         New Hampshire       0.06        NaN
36                  Ohio       0.06        NaN
39          Pennsylvania       0.06        NaN
21              Maryland       0.06        NaN
33              New York       0.06        NaN
49         West Virginia       0.06        NaN
48            Washington       0.06        NaN
8               Delaware       0.06        NaN
7            Connecticut       0.06        NaN
52           Puerto Rico       0.07        NaN

I am going to make a table with uninsured rates between 2012 and 2017 so I can compare them more easily.

In [29]:
df_joined_2012_2017 = df_2017_states.sort_values(by='Uninsured', ascending=True).join(df_2012_states.sort_values(by='Uninsured', ascending=False),lsuffix="_2017",rsuffix='_2012').head(52)

In [34]:
df_joined_2012_2017 = df_joined_2012_2017.drop(['Footnotes_2017', 'Footnotes_2012'],axis=1)

In [40]:
df_joined_2012_2017['diff']= df_joined_2012_2017['Uninsured_2017'] - df_joined_2012_2017['Uninsured_2012']

In [46]:
df_joined_2012_2017

,Location_2017,Uninsured_2017,Location_2012,Uninsured_2012,diff,labeled
22,Massachusetts,0.03,Massachusetts,0.04,-0.01,negative
16,Iowa,0.04,Iowa,0.08,-0.04,negative
40,Rhode Island,0.04,Rhode Island,0.11,-0.07,negative
24,Minnesota,0.04,Minnesota,0.08,-0.04,negative
9,District of Columbia,0.04,District of Columbia,0.06,-0.02,negative
46,Vermont,0.04,Vermont,0.07,-0.03,negative
12,Hawaii,0.04,Hawaii,0.07,-0.03,negative
50,Wisconsin,0.05,Wisconsin,0.09,-0.04,negative
23,Michigan,0.05,Michigan,0.12,-0.07,negative
18,Kentucky,0.05,Kentucky,0.14,-0.09,negative
30,New Hampshire,0.06,New Hampshire,0.11,-0.05,negative
36,Ohio,0.06,Ohio,0.12,-0.06,negative
39,Pennsylvania,0.06,Pennsylvania,0.10,-0.04,negative
21,Maryland,0.06,Maryland,0.10,-0.04,negative
33,New York,0.06,New York,0.11,-0.05,negative
49,West Virginia,0.06,West Virginia,0.14,-0.08,negative
48,Washington,0.06,Washington,0.14,-0.08,negative
8,Delaware,0.06,Delaware,0.08,-0.02,negative
7,Connecticut,0.06,Connecticut,0.09,-0.03,negative
52,Puerto Rico,0.07,Puerto Rico,0.07,0.00,no change
38,Oregon,0.07,Oregon,0.15,-0.08,negative
5,California,0.07,California,0.18,-0.11,negative
14,Illinois,0.07,Illinois,0.13,-0.06,negative
31,New Jersey,0.08,New Jersey,0.13,-0.05,negative
4,Arkansas,0.08,Arkansas,0.16,-0.08,negative
15,Indiana,0.08,Indiana,0.14,-0.06,negative
20,Maine,0.08,Maine,0.10,-0.02,negative
19,Louisiana,0.08,Louisiana,0.17,-0.09,negative
35,North Dakota,0.08,North Dakota,0.11,-0.03,negative
6,Colorado,0.08,Colorado,0.15,-0.07,negative
47,Virginia,0.09,Virginia,0.13,-0.04,negative
45,Utah,0.09,Utah,0.14,-0.05,negative
43,Tennessee,0.09,Tennessee,0.14,-0.05,negative
42,South Dakota,0.09,South Dakota,0.11,-0.02,negative
0,United States,0.09,United States,0.15,-0.06,negative
32,New Mexico,0.09,New Mexico,0.19,-0.10,negative
27,Montana,0.09,Montana,0.18,-0.09,negative
28,Nebraska,0.09,Nebraska,0.11,-0.02,negative
17,Kansas,0.09,Kansas,0.13,-0.04,negative
26,Missouri,0.09,Missouri,0.14,-0.05,negative
3,Arizona,0.10,Arizona,0.17,-0.07,negative
1,Alabama,0.10,Alabama,0.13,-0.03,negative
29,Nevada,0.11,Nevada,0.22,-0.11,negative
41,South Carolina,0.11,South Carolina,0.17,-0.06,negative
34,North Carolina,0.11,North Carolina,0.17,-0.06,negative
13,Idaho,0.11,Idaho,0.16,-0.05,negative
51,Wyoming,0.12,Wyoming,0.16,-0.04,negative
25,Mississippi,0.12,Mississippi,0.17,-0.05,negative
11,Georgia,0.13,Georgia,0.19,-0.06,negative
10,Florida,0.13,Florida,0.20,-0.07,negative
2,Alaska,0.14,Alaska,0.20,-0.06,negative
37,Oklahoma,0.14,Oklahoma,0.18,-0.04,negative

In [42]:
def label_diff(difference):
    if difference > 0:
        return 'positive'
    if difference == 0:
        return 'no change'
    if difference < 0:
        return 'negative'

In [44]:
df_joined_2012_2017['labeled'] = df_joined_2012_2017['diff'].apply(lambda x: label_diff(x))

In [47]:
df_joined_2012_2017['labeled'].value_counts()

negative     51
no change     1
Name: labeled, dtype: int64

In [51]:
#uninsurance rates decreased across the board, except in Puerto Rico.

# Medicaid expansion

Kaiser Family Foundation data from https://www.kff.org/medicaid/issue-brief/status-of-state-medicaid-expansion-decisions-interactive-map/

In [53]:
df_medicaid_expansion = pd.read_csv('productDownload_2020-02-14T125800/expansion-status-interactive-map_1.2.19.csv')

In [62]:
df_medicaid_expansion

,State,Expansion Status,Description
0,Alabama,Not Adopted,NaN
1,Alaska,Adopted and Implemented,Implemented expansion on 9/1/2015\n
2,Arizona,Adopted and Implemented,Implemented expansion on 1/1/2014\n
3,Arkansas,Adopted and Implemented,Implemented expansion on 1/1/2014 \n
4,California,Adopted and Implemented,Implemented expansion on 1/1/2014\n
5,Colorado,Adopted and Implemented,Implemented expansion on 1/1/2014\n
6,Connecticut,Adopted and Implemented,Implemented expansion on 1/1/2014\n
7,Delaware,Adopted and Implemented,Implemented expansion on 1/1/2014\n
8,District of Columbia,Adopted and Implemented,Implemented expansion on 1/1/2014\n
9,Florida,Not Adopted,NaN
10,Georgia,Not Adopted,NaN
11,Hawaii,Adopted and Implemented,Implemented expansion on 1/1/2014\n
12,Idaho,Adopted and Implemented,Expansion coverage implemented 1/1/2020 (enrol...
13,Illinois,Adopted and Implemented,Implemented expansion on 1/1/2014\n
14,Indiana,Adopted and Implemented,Implemented expansion on 2/1/2015\n
15,Iowa,Adopted and Implemented,Implemented expansion on 1/1/2014\n
16,Kansas,Not Adopted,NaN
17,Kentucky,Adopted and Implemented,Implemented expansion on 1/1/2014\n
18,Louisiana,Adopted and Implemented,Implemented expansion on 7/1/2016\n
19,Maine,Adopted and Implemented,Implemented expansion on 1/10/2019 with covera...
20,Maryland,Adopted and Implemented,Implemented expansion on 1/1/2014\n
21,Massachusetts,Adopted and Implemented,Implemented expansion on 1/1/2014\n
22,Michigan,Adopted and Implemented,Implemented expansion on 4/1/2014\n
23,Minnesota,Adopted and Implemented,Implemented expansion on 1/1/2014\n
24,Mississippi,Not Adopted,NaN
25,Missouri,Not Adopted,NaN
26,Montana,Adopted and Implemented,Implemented expansion on 1/1/2016\n
27,Nebraska,Adopted but Not Implemented,NaN
28,Nevada,Adopted and Implemented,Implemented expansion on 1/1/2014\n
29,New Hampshire,Adopted and Implemented,Implemented expansion on 8/15/2014
30,New Jersey,Adopted and Implemented,Implemented expansion on 1/1/2014\n
31,New Mexico,Adopted and Implemented,Implemented expansion on 1/1/2014\n
32,New York,Adopted and Implemented,Implemented expansion on 1/1/2014\n
33,North Carolina,Not Adopted,NaN
34,North Dakota,Adopted and Implemented,Implemented expansion on 1/1/2014\n
35,Ohio,Adopted and Implemented,Implemented expansion on 1/1/2014\n
36,Oklahoma,Not Adopted,NaN
37,Oregon,Adopted and Implemented,Implemented expansion on 1/1/2014\n
38,Pennsylvania,Adopted and Implemented,Implemented expansion on 1/1/2015\n
39,Rhode Island,Adopted and Implemented,Implemented expansion on 1/1/2014\n
40,South Carolina,Not Adopted,NaN
41,South Dakota,Not Adopted,NaN
42,Tennessee,Not Adopted,NaN
43,Texas,Not Adopted,NaN
44,Utah,Adopted and Implemented,Implemented expansion on 1/1/2020
45,Vermont,Adopted and Implemented,Implemented expansion on 1/1/2014\n
46,Virginia,Adopted and Implemented,Expansion coverage implemented 1/1/2019 (enrol...
47,Washington,Adopted and Implemented,Implemented expansion on 1/1/2014\n
48,West Virginia,Adopted and Implemented,Implemented expansion on 1/1/2014\n
49,Wisconsin,Not Adopted,NaN
50,Wyoming,Not Adopted,NaN

In [98]:
df_medicaid_expansion['Description'].str.extract(r'.*\d+/\d+/(\d\d\d\d)')

       0
0    NaN
1   2015
2   2014
3   2014
4   2014
5   2014
6   2014
7   2014
8   2014
9    NaN
10   NaN
11  2014
12  2019
13  2014
14  2015
15  2014
16   NaN
17  2014
18  2016
19  2018
20  2014
21  2014
22  2014
23  2014
24   NaN
25   NaN
26  2016
27   NaN
28  2014
29  2014
30  2014
31  2014
32  2014
33   NaN
34  2014
35  2014
36   NaN
37  2014
38  2015
39  2014
40   NaN
41   NaN
42   NaN
43   NaN
44  2020
45  2014
46  2018
47  2014
48  2014
49   NaN
50   NaN

In [94]:
df_medicaid_expansion['Implementation'] = df_medicaid_expansion['Description'].str.extract(r'.*\d+/\d+/(\d\d\d\d)')

In [105]:
df_medicaid_expansion

,State,Expansion Status,Description,Implementation
0,Alabama,Not Adopted,NaN,NaN
1,Alaska,Adopted and Implemented,Implemented expansion on 9/1/2015\n,2015
2,Arizona,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
3,Arkansas,Adopted and Implemented,Implemented expansion on 1/1/2014 \n,2014
4,California,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
5,Colorado,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
6,Connecticut,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
7,Delaware,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
8,District of Columbia,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
9,Florida,Not Adopted,NaN,NaN
10,Georgia,Not Adopted,NaN,NaN
11,Hawaii,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
12,Idaho,Adopted and Implemented,Expansion coverage implemented 1/1/2020 (enrol...,2019
13,Illinois,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
14,Indiana,Adopted and Implemented,Implemented expansion on 2/1/2015\n,2015
15,Iowa,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
16,Kansas,Not Adopted,NaN,NaN
17,Kentucky,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
18,Louisiana,Adopted and Implemented,Implemented expansion on 7/1/2016\n,2016
19,Maine,Adopted and Implemented,Implemented expansion on 1/10/2019 with covera...,2018
20,Maryland,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
21,Massachusetts,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
22,Michigan,Adopted and Implemented,Implemented expansion on 4/1/2014\n,2014
23,Minnesota,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
24,Mississippi,Not Adopted,NaN,NaN
25,Missouri,Not Adopted,NaN,NaN
26,Montana,Adopted and Implemented,Implemented expansion on 1/1/2016\n,2016
27,Nebraska,Adopted but Not Implemented,NaN,NaN
28,Nevada,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
29,New Hampshire,Adopted and Implemented,Implemented expansion on 8/15/2014,2014
30,New Jersey,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
31,New Mexico,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
32,New York,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
33,North Carolina,Not Adopted,NaN,NaN
34,North Dakota,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
35,Ohio,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
36,Oklahoma,Not Adopted,NaN,NaN
37,Oregon,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
38,Pennsylvania,Adopted and Implemented,Implemented expansion on 1/1/2015\n,2015
39,Rhode Island,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
40,South Carolina,Not Adopted,NaN,NaN
41,South Dakota,Not Adopted,NaN,NaN
42,Tennessee,Not Adopted,NaN,NaN
43,Texas,Not Adopted,NaN,NaN
44,Utah,Adopted and Implemented,Implemented expansion on 1/1/2020,2020
45,Vermont,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
46,Virginia,Adopted and Implemented,Expansion coverage implemented 1/1/2019 (enrol...,2018
47,Washington,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
48,West Virginia,Adopted and Implemented,Implemented expansion on 1/1/2014\n,2014
49,Wisconsin,Not Adopted,NaN,NaN
50,Wyoming,Not Adopted,NaN,NaN

In [100]:
df_medicaid_expansion['Expansion Status'].value_counts()

Adopted and Implemented        36
Not Adopted                    14
Adopted but Not Implemented     1
Name: Expansion Status, dtype: int64

In [110]:
#Fix Idaho and Virginia - it picked up enrollment rate and not implementation date
#Also fix Nebraska - not nan, but unknown (adopted but not implemented)
df_medicaid_expansion.at[12,'Implementation'] = '2020'
df_medicaid_expansion.at[46,'Implementation'] = '2019'
df_medicaid_expansion.at[27,'Implementation'] = 'unknown'

In [111]:
df_medicaid_expansion['Implementation'].value_counts(dropna=False)

2014       27
NaN        14
2015        3
2020        2
2016        2
unknown     1
2018        1
2019        1
Name: Implementation, dtype: int64

States w/o expansion

In [119]:
list_states_no_expansion = df_medicaid_expansion[df_medicaid_expansion['Implementation'].isnull()]['State'].to_list()

In [143]:
list_states_no_expansion

['Alabama',
 'Florida',
 'Georgia',
 'Kansas',
 'Mississippi',
 'Missouri',
 'North Carolina',
 'Oklahoma',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Wisconsin',
 'Wyoming']

In [193]:
list_states_no_implementation_2017 = df_medicaid_expansion[(df_medicaid_expansion['Implementation'].isnull())|(df_medicaid_expansion['Implementation']=='2018')|(df_medicaid_expansion['Implementation']=='2019')|(df_medicaid_expansion['Implementation']=='unknown')]['State'].to_list()

In [201]:
len(list_states_no_implementation_2017)

17

# Comparing Medicaid expansion with states that are behind

In [154]:
def expanded_classify(name):
    if name in list_states_no_expansion:
        return 'no'
    else:
        return 'investigate further'

In [155]:
df_2017_states['expanded_boolean'] = df_2017_states.sort_values(by='Uninsured', ascending=False)['Location'].apply(lambda x: expanded_classify(x))

In [156]:
df_2017_states['expanded_boolean'].value_counts()

investigate further    78
no                     14
Name: expanded_boolean, dtype: int64

In [189]:
df_2017_states.sort_values(by='Uninsured', ascending=False).head(26)

          Location  Uninsured  Footnotes     expanded_boolean
44           Texas       0.17        NaN                   no
2           Alaska       0.14        NaN  investigate further
37        Oklahoma       0.14        NaN                   no
10         Florida       0.13        NaN                   no
11         Georgia       0.13        NaN                   no
51         Wyoming       0.12        NaN                   no
25     Mississippi       0.12        NaN                   no
29          Nevada       0.11        NaN  investigate further
34  North Carolina       0.11        NaN                   no
13           Idaho       0.11        NaN  investigate further
41  South Carolina       0.11        NaN                   no
1          Alabama       0.10        NaN                   no
3          Arizona       0.10        NaN  investigate further
42    South Dakota       0.09        NaN                   no
43       Tennessee       0.09        NaN                   no
45            Utah       0.09        NaN  investigate further
47        Virginia       0.09        NaN  investigate further
32      New Mexico       0.09        NaN  investigate further
28        Nebraska       0.09        NaN  investigate further
27         Montana       0.09        NaN  investigate further
0    United States       0.09        1.0  investigate further
26        Missouri       0.09        NaN                   no
17          Kansas       0.09        NaN                   no
15         Indiana       0.08        NaN  investigate further
4         Arkansas       0.08        NaN  investigate further
20           Maine       0.08        NaN  investigate further

In [ ]:
#13 out of 14 rank in the bottom

In [197]:
def expanded_2017(name):
    if name in list_states_no_implementation_2017:
        return 'no'
    else:
        return 'investigate further'

In [198]:
df_2017_states['expanded_boolean_2017'] = df_2017_states.sort_values(by='Uninsured', ascending=False)['Location'].apply(lambda x: expanded_2017(x))

In [200]:
df_2017_states.sort_values(by='Uninsured', ascending=False).head(26)

,Location,Uninsured,Footnotes,expanded_boolean,expanded_boolean_2017
44,Texas,0.17,NaN,no,no
2,Alaska,0.14,NaN,investigate further,investigate further
37,Oklahoma,0.14,NaN,no,no
10,Florida,0.13,NaN,no,no
11,Georgia,0.13,NaN,no,no
51,Wyoming,0.12,NaN,no,no
25,Mississippi,0.12,NaN,no,no
29,Nevada,0.11,NaN,investigate further,investigate further
34,North Carolina,0.11,NaN,no,no
13,Idaho,0.11,NaN,investigate further,investigate further
41,South Carolina,0.11,NaN,no,no
1,Alabama,0.10,NaN,no,no
3,Arizona,0.10,NaN,investigate further,investigate further
42,South Dakota,0.09,NaN,no,no
43,Tennessee,0.09,NaN,no,no
45,Utah,0.09,NaN,investigate further,investigate further
47,Virginia,0.09,NaN,investigate further,no
32,New Mexico,0.09,NaN,investigate further,investigate further
28,Nebraska,0.09,NaN,investigate further,no
27,Montana,0.09,NaN,investigate further,investigate further
0,United States,0.09,1.0,investigate further,investigate further
26,Missouri,0.09,NaN,no,no
17,Kansas,0.09,NaN,no,no
15,Indiana,0.08,NaN,investigate further,investigate further
4,Arkansas,0.08,NaN,investigate further,investigate further
20,Maine,0.08,NaN,investigate further,no